//*------------------專屬[ 摩托 ]svg動畫設定-start------------------
.scooter path {
  stroke-dasharray: 1200; //?試出填滿整個邊框[ try最小數值 ]
  stroke-dashoffset: 0;
}
//?啟用[ 動畫 ]設定
.scooter:hover path {
  animation: animate-scooter 2s linear forwards;
}

@keyframes animate-scooter {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1200; //?繞完一整圈與[ stroke-dasharray同 ]
  }
  80% {
    stroke-dashoffset: 2400; //??一整圈的2倍=接續繞第二圈
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2400;
    fill: #31e8ff;
  }
}

//*------------------專屬[ 摩托 ]svg動畫設定-end------------------
